.wrapper {
    height: 100%;
    display: flex;
    margin: 0;
}
.content {
    flex: 1;
    font-size: 16px;
}
.nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1px solid rgba(22, 24, 35, 0.2);
}
.nav-home {
    display: flex;
    cursor: pointer;
    align-items: center;
}
.pading10px {
    margin-left: 10px;
}
.header {
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 5px;
    background-color: white;
    &:hover {
        opacity: 0.5;
    }
}
.header-icon {
    margin-right: 20px;
    align-items: center;
}
.search-btn {
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
    background-color: white;
    &:hover {
        opacity: 0.5;
    }
}
.form-create {
    display: flex;
    background-color: #f4f6fa;
    padding: 2rem;
}
.form-content {
    background-color: white;
    padding: 1rem;
    width: 100%;
    margin-left: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    border: 1px solid black !important;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td button {
    background-color: white;
}
