@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
input[type='tel'],
textarea {
    @apply w-full border my-1 py-2 px-3 rounded-2xl;
}
textarea {
    height: 140px;
}
button {
    @apply bg-gray-300;
}
button.main {
    background-color: #f5385d;
    @apply bg-main p-2 text-white rounded-2xl;
}
button.green {
    background-color: green;
    @apply p-2 w-full text-white rounded-2xl;
}
